.test {
  font-size: 10px;
  background-color: red;
  color: red; }

.navbar {
  padding: 20px 100px; }

@media only screen and (max-width: 800px) {
  .navbar {
    padding: 20px 50px; } }

a.navbar-brand {
  color: #51b3eb !important; }
